@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* body */

  body {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1,5;
    color: blue;
  }

  .body-title-text {
    color: black;
  }

  /* accordeon */

  .accordeon {
    max-width: 30rem;
    min-height: 100rem;
    margin: 1rem auto;
  }

  .accordeon-item {
    border-top: 0.06rem solid black;
    cursor: pointer;
  }

  .accordeon:hover {
    color: #000;
  }

  .acc-title {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .acc-title:hover {
    color: black;
    transition: color .3s ease-out;
  }

  .acc-input {
    width: 0;
    height: 0;
    appearance: none;
  }

  .acc-input:checked ~ .acc-title {
    color: #000;
  }

  .plus-ico {
    display: block;
    height: 1rem;
    width: 1rem;
    background-image: url(img/plus-ico.png);
    background-size: 100%;
    visibility: hidden;
  }

  .accordeon:hover .plus-ico {
    visibility: visible;
  }

  .accordeon-item:hover .plus-ico {
    transform: rotate(45deg);
    visibility: visible;
  }

  .acc-input:checked ~ .acc-meme {
    transition: all 1s ease-out;
    visibility: visible;
    height: 16rem;
    width: 70%;
  }

  .acc-input:hover ~ .acc-meme {
    transition: all 1s ease-in;
    visibility: visible;
    height: 16rem;
    width: 70%;
  }

  .acc-meme {
    margin: auto;
    display: block;
    padding: 0.8rem 1rem;
    height: 0;
    width: 0;
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
    transition: all 1s ease-in;
  }

  .meme-1 {
    background-image: url(img/meme1.jpg);
  }

  .meme-2 {
    background-image: url(img/meme2.jpg);
  }

  .meme-3 {
    background-image: url(img/meme3.jpg);
  }

  .meme-4 {
    background-image: url(img/meme4.jpg);
  }

/* tablet */

  @media screen and (max-width: 992px) {

    .plus-ico {
      background-image: url(img/plus-ico.png);
      visibility: visible;
    }

    body {
      font-family: Inika;
      font-style: normal;
      font-weight: 400;
    }
  }

  /* mobile */

  @media screen and (max-width: 768px) {

    .plus-ico {
      background-image: url(img/plus-ico.png);
      visibility: visible;
    }

    body {
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
    }
  }